<div class="pages">
  <div class="pages__body pages__img">
    <div class="page__body--filter"></div>
    <div class="pages__text">蘭園圖庫</div>
    <div class="pages__text pages__text--subtext">Gallery</div>
  </div>
</div>

<div class="content__body">
    <div class="title">圖庫</div>
    <div class="gallery__body">
       <ul class="gallery__ls">
        <li *ngFor="let item of [].constructor(24); let i = index">
          <div class="gallery__item">
            <img class="img" src="/assets/images/{{i+1}}.jpg" alt="" >
          </div>
        </li>
       </ul>
    </div>
</div>
