<div class="about_img">
  <p>關於蘭園</p>
</div>
<div class="about_story">
  <div class="title">
    <p>蘭園故事</p>
  </div>
  <div class="about_story_block">
    <div class="story_block_img"></div>
    <div class="story_block_text">
      <div>
        <p>故事內容</p>
        <p>故事內容</p>
        <p>故事內容</p>
        <p>故事內容</p>
      </div>
    </div>
  </div>
</div>
<div class="about_info">
  <div class="title">
    <p>蘭園資訊</p>
  </div>
  <div class="about_info_block grid_odd">
    <div>文字</div>
    <div>圖片</div>
    <div>文字</div>
    <div>圖片</div>
  </div>
  <div class="about_info_block grid_even">
    <div>圖片</div>
    <div>文字</div>
    <div>圖片</div>
    <div>文字</div>
  </div>
</div>
