<div class="about_img">
  <p>關於蘭園</p>
</div>
<div class="about_story">
  <div class="title">
    <p>蘭園故事</p>
  </div>
  <div class="about_story_block">
    <div class="story_block_img"></div>
    <div class="story_block_text">
      <div>
        <p>故事內容</p>
        <p>故事內容</p>
        <p>故事內容</p>
        <p>故事內容</p>
      </div>
    </div>
  </div>
</div>
<div class="about_info">
  <div class="title">
    <p>附近景點</p>
  </div>
  <div class="about_info_block">
    <div class="info_card">
      <div class="info_card_img">
        <img src="https://i.picsum.photos/id/18/2500/1667.jpg?hmac=JR0Z_jRs9rssQHZJ4b7xKF82kOj8-4Ackq75D_9Wmz8" alt="">
      </div>
      <div class="info_card_text">
        <div>景點名稱</div>
        <div>景點內容</div>
      </div>
    </div>
    <div class="info_card">
      <div class="info_card_img">
        <img src="https://i.picsum.photos/id/18/2500/1667.jpg?hmac=JR0Z_jRs9rssQHZJ4b7xKF82kOj8-4Ackq75D_9Wmz8" alt="">
      </div>
      <div class="info_card_text">
        <div>景點名稱</div>
        <div>景點內容</div>
      </div>
    </div>
    <div class="info_card">
      <div class="info_card_img">
        <img src="https://i.picsum.photos/id/18/2500/1667.jpg?hmac=JR0Z_jRs9rssQHZJ4b7xKF82kOj8-4Ackq75D_9Wmz8" alt="">
      </div>
      <div class="info_card_text">
        <div>景點名稱</div>
        <div>景點內容</div>
      </div>
    </div>
  </div>
  <!-- <div class="about_info_block grid_odd">
    <div>文字</div>
    <div>圖片</div>
    <div>文字</div>
    <div>圖片</div>
  </div>
  <div class="about_info_block grid_even">
    <div>圖片</div>
    <div>文字</div>
    <div>圖片</div>
    <div>文字</div>
  </div> -->
</div>
