<div class="pages">
  <div class="pages__body pages__img">
    <div class="page__body--filter"></div>
    <div class="pages__text">關於蘭園</div>
    <div class="pages__text pages__text--subtext">About</div>
  </div>
</div>





<div class="about_story">
  <div class="title">
    <p>蘭園故事</p>
  </div>
  <div class="about_story_block">
    <div class="story_block_img"></div>
    <div class="story_block_text">
      <div>
        <p>本民宿位於203縣道旁，環境清幽，近西嶼鄉各大知名景點，如跨海大橋、外垵燈塔、內垵遊憩區、竹灣大義宮、二崁古厝等，是一個讓第一次來澎湖旅遊的你，不能錯過的好選擇。</p>
      </div>
    </div>
  </div>
</div>



<div class="about_info">
  <div class="title">
    <p>附近景點</p>
  </div>
  <div class="about_info_block">
    <div class="info_card">
      <div class="info_card_img">
        <img src="/assets/images/866661.jpg" alt="">
      </div>
      <div class="info_card_text">
        <div>景點名稱</div>
        <div>景點內容</div>
      </div>
    </div>
    <div class="info_card">
      <div class="info_card_img">
        <img src="/assets/images/866701.jpg" alt="">
      </div>
      <div class="info_card_text">
        <div>景點名稱</div>
        <div>景點內容</div>
      </div>
    </div>
    <div class="info_card">
      <div class="info_card_img">
        <img src="/assets/images/866712.jpg" alt="">
      </div>
      <div class="info_card_text">
        <div>景點名稱</div>
        <div>景點內容</div>
      </div>
    </div>
  </div>
  <!-- <div class="about_info_block grid_odd">
    <div>文字</div>
    <div>圖片</div>
    <div>文字</div>
    <div>圖片</div>
  </div>
  <div class="about_info_block grid_even">
    <div>圖片</div>
    <div>文字</div>
    <div>圖片</div>
    <div>文字</div>
  </div> -->
</div>
