.header{
  background-color: rgba(104, 101, 101, 0.9);
  position: fixed;
  width: 100%;
  z-index: 100000000000;

  a{
    display: inline-block;
    text-decoration:none;
    color: #fff;
  }
  .header__body{
    display: flex;
    justify-content: center;
  }


  .header__title{
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    color: #fff;
    margin: 0 20px;
    span{
      font-size: 1.5rem;
      border-radius: 5px;
      border:2px solid rgb(240, 190, 248);
      padding:0 5px;
      margin: 0  5px;
      color: rgb(240, 190, 248);
    }
  }


  .menu {
    display: flex;
    .menu_item {
      margin-right: 5px;
      font-size: 1.2rem;

      a {
        padding: 20px 20px;
        text-decoration: none;
        display: block;
        color: #fff;
        border-bottom: 8px solid transparent;

        &:hover {
          color: #ccc;
          border-bottom: 8px solid #353866;
        }
      }

    }
  }
}

@media only screen and (max-width: 800px) {
  ul.menu{
    flex-direction: column;
    align-items: center;
  }

  ul.menu.open{
    .menu_logo .header__title a{
      display: none;
    }
  }

  ul.menu.close{
    .menu_item{
      display: none;
    }
  }

  .header__title > div.menu-icon{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 35px;
    height: 35px;
    border: none !important;
    background-image: url("/assets/icon/menu-icon.png");
    background-position: center center;
    background-size: cover;
  }
}
