/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 28px;
  color: #353866;
  font-weight: bolder;
  margin: 3rem 0;
}

.ly_btn {
  background-color: #CBA6C3;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 150px;
  height: 45px;
  cursor: pointer;

  &>p {
    color: #F8FAFF;
    font-size: 24px;
    font-weight: bolder;
  }

  &:hover {
    background-color: #353866;
  }
}
