/* You can add global styles to this file, and also import other style files */
body{
    font-size: 16px;
    max-width:100%;

}
.title{
    display: inline-block;
    width: 30%;
}

.title-border{
    border-bottom: 2px solid #ddd ;
}
.title-h2{
    font-size: 2rem;
    margin: 5px;
    padding: 10px 20px;
}

.clearfix{
    clear: both ;
}


