@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400&display=swap');
/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



// append scrollbar style
* {
  ::-webkit-scrollbar {
    display: inline-block;
    width: 10px;
  }

  ::-webkit-scrollbar-corner {
    background-color: rgb(240, 240, 240);
  }

  ::-webkit-scrollbar-thumb {
    background: #ccc;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #eee;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}

body {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  // max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 28px;
  color: #353866;
  font-weight: bolder;
  padding: 3rem 0;
}

.d-inlineblock{
  display: inline-block;
}



.text-white {
  color: #F8FAFF;
}

.text-default{
  color: #1e2022;
}
