<div class="pages">
  <div class="pages__body pages__img">
    <div class="page__body--filter"></div>
    <div class="pages__text">蘭園房型</div>
    <div class="pages__text pages__text--subtext">Room</div>
  </div>
</div>


<div class="title">
  <p>房型資訊</p>
</div>
<div class="room_list">
  <div class="room_list_block">
    <div class="title room_list_text">
      <p>房間名稱</p>
    </div>
    <div class="room_list_title">
      <div class="room_pic"><img src="/assets/images/865344.jpg" alt=""></div>
      <div class="room_grid">
        <div><img src="/assets/images/865344.jpg" alt=""></div>
        <div><img src="/assets/images/865344.jpg" alt=""></div>
        <div><img src="/assets/images/865344.jpg" alt=""></div>
        <div><img src="/assets/images/865344.jpg" alt=""></div>
      </div>
    </div>
    <div class="room_info">
      <p>房間資訊</p>
    </div>
    <div class="room_list_btn">
      <button class="ly_btn">
        <p><a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=346nabfy">立即洽詢</a></p>
      </button>
    </div>
  </div>
  <div class="room_list_block">
    <div class="title room_list_text">
      <p>房間名稱</p>
    </div>
    <div class="room_list_title">
      <div class="room_pic"><img src="/assets/images/865335.jpg" alt=""></div>
      <div class="room_grid">
        <div><img src="/assets/images/865335.jpg" alt=""></div>
        <div><img src="/assets/images/865335.jpg" alt=""></div>
        <div><img src="/assets/images/865335.jpg" alt=""></div>
        <div><img src="/assets/images/865335.jpg" alt=""></div>
      </div>
    </div>
    <div class="room_info">
      <p>房間資訊</p>
    </div>
    <div class="room_list_btn">
      <button class="ly_btn">
        <p><a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=346nabfy">立即洽詢</a></p>
      </button>
    </div>
  </div>
  <div class="room_list_block">
    <div class="title room_list_text">
      <p>房間名稱</p>
    </div>
    <div class="room_list_title">
      <div class="room_pic"><img src="/assets/images/865340_0.jpg" alt=""></div>
      <div class="room_grid">
        <div><img src="/assets/images/865340_0.jpg" alt=""></div>
        <div><img src="/assets/images/865340_0.jpg" alt=""></div>
        <div><img src="/assets/images/865340_0.jpg" alt=""></div>
        <div><img src="/assets/images/865340_0.jpg" alt=""></div>
      </div>
    </div>
    <div class="room_info">
      <p>房間資訊</p>
    </div>
    <div class="room_list_btn">
      <button class="ly_btn">
        <p><a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=346nabfy">立即洽詢</a></p>
      </button>
    </div>
  </div>
</div>
