<div class="about_img text-white">
  <p>蘭園特產</p>
</div>
<div class="about_info">
  <div class="title">
    <p>特產</p>
  </div>
  <div class="about_info_block">
    <div class="info_card">
      <div class="info_card_img">
        <img src="/assets/images/866661.jpg" alt="">
      </div>
      <div class="info_card_text">
        <div>景點名稱</div>
        <div>景點內容</div>
      </div>
    </div>
    <div class="info_card">
      <div class="info_card_img">
        <img src="/assets/images/866701.jpg" alt="">
      </div>
      <div class="info_card_text">
        <div>景點名稱</div>
        <div>景點內容</div>
      </div>
    </div>
    <div class="info_card">
      <div class="info_card_img">
        <img src="/assets/images/866712.jpg" alt="">
      </div>
      <div class="info_card_text">
        <div>景點名稱</div>
        <div>景點內容</div>
      </div>
    </div>
  </div>
</div>
