<div class="pages">
  <div class="page__body--filter"></div>
  <div class="pages__body pages__img">
    <div class="pages__text">蘭園名產</div>
    <div class="pages__text pages__text--subtext">Specialty</div>
  </div>
</div>

<div class="content_body">
  <div class="title">主要名產</div>

  <div class="base base-stripe">
      <div class="base-cntr">
          <div class="base-head">
              <h2 class="base-title">獨家自製干貝辣醬 XO </h2>
              <p class="base-desc">採用獨特技術及配方調製而成，選用上等干貝、丁香魚干，再配上蝦米等豐富素材。</p>
              <p class="base-desc">不僅料多實在，並添加完整調味料，形成一股濃郁的芳香，並促進食慾。</p>
          </div>
          <div class="base-foot">
              <div class="img__inner">
                  <img src="/assets/images/sp-01.jpg" alt="">
              </div>
          </div>
      </div>
  </div>
  <div class="base">
    <div class="base-cntr flip">
        <div class="base-head">
            <h2 class="base-title">廣受推銷極度好評小管醬</h2>
            <p class="base-desc">以小管、豆鼓、辣椒製成的小管辣醬，有鮮甜的海洋風味，有鮮甜的海洋風味，是本地非常著名的特產，廣受年輕朋友喜愛。</p>
        </div>
        <div class="base-foot">
            <div class="img__inner">
              <img src="/assets/images/sp-02.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="base base-stripe">
    <div class="base-cntr">
        <div class="base-head">
            <h2 class="base-title">XO干貝醬 必買首選</h2>
            <p class="base-desc">秉持澎湖人守護傳統的精神，堅持古早風味，以干貝、蝦米製成。滿滿的鮮美干貝，充滿鮮甜的海洋風味，讓顧客可以嚐到澎湖最道地的鮮美味道，是送禮自用兩相宜的最佳首選。</p>
        </div>
        <div class="base-foot">
            <div class="img__inner">
              <img src="/assets/images/sp-03.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="base">
    <div class="base-cntr flip">
        <div class="base-head">
            <h2 class="base-title">歷史悠久骨董出售</h2>
            <p class="base-desc">不僅出售蘭園獨家名產外，獨立出售澎湖骨董產品，只有蘭園獨家售出。</p>
            <p class="base-desc">需要更詳細、活動內容，請至 <a [href]="lineUrl">Line 官方網</a>查詢</p>
        </div>
        <div class="base-foot">
            <div class="img__inner">
              <img src="/assets/images/sp-04.jpg" alt="">
            </div>
        </div>
    </div>
</div>
</div>


<!-- content__body -->
