<div class="booking">
  <div class="booking_title">馬上訂房</div>
  <div class="booking_block">
    <div class="booking_info">123</div>
    <div class="booking_info">123</div>
    <div class="booking_info">123</div>
  </div>
</div>

<div class="footer">
  <img src="" alt="">
  <div>
    INFO<br>
    INFO<br>
    INFO<br>
    INFO<br>
  </div>
  <ul class="footer-share">
    <li><a href="#"><img src="#" alt=""></a></li>
    <li><a href="#"><img src="#" alt=""></a></li>
    <li><a href="#"><img src="#" alt=""></a></li>
  </ul>
</div>
