<!-- <div class="booking">
  <div class="booking_title">馬上訂房</div>
  <div class="booking_block">
    <div class="booking_info">123</div>
    <div class="booking_info">123</div>
    <div class="booking_info">123</div>
  </div>
</div> -->

<div class="footer">
  <img src="" alt="">
  <div>
    蘭園民宿 版權所有 The Penghu B&B Copyright © 2020 All Rights Reserved.<br>
  </div>
  <ul class="footer-share">
    <li><a href="#"><img src="#" alt=""></a></li>
    <li><a href="#"><img src="#" alt=""></a></li>
    <li><a href="#"><img src="#" alt=""></a></li>
  </ul>
</div>
