<div class="pages">
  <div class="pages__body pages__img">
    <div class="page__body--filter"></div>
    <div class="pages__text">關於蘭園</div>
    <div class="pages__text pages__text--subtext">About</div>
  </div>
</div>

<div class="about_story">
  <div class="title">
    <p>蘭園故事</p>
  </div>
  <div class="about_story_block">
    <div class="story_block_img"></div>
    <div class="story_block_text">
      <div>
        <p>本民宿位於203縣道旁，環境清幽，近西嶼鄉各大知名景點，如跨海大橋、外垵燈塔、內垵遊憩區、竹灣大義宮、二崁古厝等，是一個讓第一次來澎湖旅遊的你，不能錯過的好選擇。</p>
      </div>
    </div>
  </div>
</div>



<div class="about_info">
  <div class="title">附近景點</div>
  <div class="about_info_block">
    <div class="info_card">
      <div class="info_card_img">
        <img src="/assets/images/866661.jpg" alt="">
      </div>
      <div class="info_card_text">
        <div class="card_title">風生帆起化鷹揚</div>
        <div>鳥嶼位在白沙島的東北方，總面積約為26.5公頃，海岸線長2.5公里，島上居民以漁業做為主要經濟活動，聚落多建在漁港周圍。鳥嶼東方有著排列有序的壯觀玄武岩，從崖下的海蝕洞還可觀賞到放射狀的玄武岩柱，北方的玄武岩則呈現洋蔥狀，退潮時並與南面掛嶼相連，形成「海枯」的奇特景致，目前已被列為玄武岩自然保留區。</div>
      </div>
    </div>
    <div class="info_card">
      <div class="info_card_img">
        <img src="/assets/images/866701.jpg" alt="">
      </div>
      <div class="info_card_text">
        <div class="card_title">員貝嶼</div>
        <div>員貝嶼位在白沙嶼岐頭村東方、鳥嶼西南方鄰近澎澎灘，員貝嶼全島為丘陵地形，因為形狀像是一扇貝覆蓋水面而得名，景觀相當優美且特殊，員貝嶼北海岸玄武岩柱狀節理發達，其中以石筆、石硯最著名；員貝嶼東海岸有一塊扁形的柱狀玄武岩，相當特別的是，玄武岩的表面如同百褶裙一般，有著許多摺痕，相當具觀賞價值，目前列為玄武岩預定保護區</div>
      </div>
    </div>
    <div class="info_card">
      <div class="info_card_img">
        <img src="/assets/images/866712.jpg" alt="">
      </div>
      <div class="info_card_text">
        <div class="card_title">奎壁山摩西分海</div>
        <div>奎壁山地質公園位於湖西鄉北寮村北岸，遠望北寮海岸時，山壁像似一隻趴臥的巨龜，因此先人稱此為龜壁山，後期才正名為奎壁山。奎壁山是為早期澎湖八景之一的「奎壁聯輝」，站在山頂，遠眺周邊鳥嶼，景緻十分宜人。而每當退潮時會露出步道與赤嶼相連，特殊的奇景也成為遊客踏浪戲水熱門景點，而玄武岩、海蝕地形的特殊地質特色，也吸引地質觀察和生態探索的旅客最佳據點。</div>
      </div>
    </div>
  </div>
</div>
