<div class="room_img">
  <p>蘭園房型</p>
</div>
<div class="title">
  <p>房型資訊</p>
</div>
<div class="room_list">
  <div class="room_list_block">
    <div class="title room_list_text">
      <p>房間名稱</p>
    </div>
    <div class="room_list_title">
      <img src="https://i.picsum.photos/id/528/4000/3000.jpg?hmac=b5k40WwSa0r9VKc6WfCPhDwAOYkR2duODFHksnqAlf8" alt="">
    </div>
    <div class="room_list_btn">
      <button class="ly_btn">
        <p>前往 > </p>
      </button>
    </div>
  </div>
  <div class="room_list_block">
    <div class="title room_list_text">
      <p>房間名稱</p>
    </div>
    <div class="room_list_title">
      <img src="https://i.picsum.photos/id/535/2962/3949.jpg?hmac=Cs154XYJYEmSoM-YPHR1Kcp2LDRzxLfKxa67Av3ZIhY" alt="">
    </div>
    <div class="room_list_btn">
      <button class="ly_btn">
        <p>前往 > </p>
      </button>
    </div>
  </div>
  <div class="room_list_block">
    <div class="title room_list_text">
      <p>房間名稱</p>
    </div>
    <div class="room_list_title">
      <img src="https://i.picsum.photos/id/534/4000/3000.jpg?hmac=lZH_v84ot8WWUIgqwrJvFKqtockRBoqVnStUqqaJFug" alt="">
    </div>
    <div class="room_list_btn">
      <button class="ly_btn">
        <p>前往 > </p>
      </button>
    </div>
  </div>
</div>
