<div class="pages">
  <div class="pages__body pages__img">
    <div class="page__body--filter"></div>
    <div class="pages__text">蘭園房型</div>
    <div class="pages__text pages__text--subtext">Room</div>
  </div>
</div>


<div class="title">
  <p>房型資訊</p>
</div>
<div class="room_list">
  <div class="room_list_block">
    <div class="title room_list_text">
      <p>雙人客房</p>
    </div>
    <div class="room_list_title">
      <div class="room_pic"><img src="/assets/images/865335.jpg" alt=""></div>
      <div class="room_grid">
        <div><img src="/assets/images/865338.jpg" alt=""></div>
        <div><img src="/assets/images/865336.jpg" alt=""></div>
        <div><img src="/assets/images/865342.jpg" alt=""></div>
        <div><img src="/assets/images/1.jpg" alt=""></div>
      </div>
    </div>
    <div class="room_info">
    </div>
    <div class="room_list_btn">
      <button class="ly_btn">
        <p><a [href]="lineUrl">立即洽詢</a></p>
      </button>
    </div>
  </div>
  <div class="room_list_block">
    <div class="title room_list_text">
      <p>四人客房</p>
    </div>
    <div class="room_list_title">
      <div class="room_pic"><img src="/assets/images/865338.jpg" alt=""></div>
      <div class="room_grid">
        <div><img src="/assets/images/865339.jpg" alt=""></div>
        <div><img src="/assets/images/865336.jpg" alt=""></div>
        <div><img src="/assets/images/865342.jpg" alt=""></div>
        <div><img src="/assets/images/1.jpg" alt=""></div>
      </div>
    </div>
    <div class="room_info">
    </div>
    <div class="room_list_btn">
      <button class="ly_btn">
        <p><a [href]="lineUrl">立即洽詢</a></p>
      </button>
    </div>
  </div>
  <div class="room_list_block">
    <div class="title room_list_text">
      <p>五人客房</p>
    </div>
    <div class="room_list_title">
      <div class="room_pic"><img src="/assets/images/865340_0.jpg" alt=""></div>
      <div class="room_grid">
        <div><img src="/assets/images/865337.jpg" alt=""></div>
        <div><img src="/assets/images/865336.jpg" alt=""></div>
        <div><img src="/assets/images/865342.jpg" alt=""></div>
        <div><img src="/assets/images/1.jpg" alt=""></div>
      </div>
    </div>
    <div class="room_info">
    </div>
    <div class="room_list_btn">
      <button class="ly_btn">
        <p><a [href]="lineUrl">立即洽詢</a></p>
      </button>
    </div>
  </div>
</div>
