.footer {
  // margin-top: 50px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #353866;
  padding: 60px 150px 40px 150px;
  // position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


.footer-share {
  display: flex;
  align-items: center;

  li {
    margin-right: 30px;

    a img {
      width: 35px;
      height: 35px;
    }
  }

  li:nth-child(3) {
    margin-right: 0;
  }
}


@media only screen and (max-width: 800px){
  .footer{
    flex-direction: column;
    align-items: center;
    div{
      margin-bottom: 10px;
    }
  }
}
