<div class="news_img">
  <p>蘭園消息</p>
</div>
<div class="news_carousel">
  <p>輪播圖區塊</p>
</div>
<!-- 手風琴 -->
<div class="box">
  <div class="box-item">
    <p class="box-title">最新消息1</p>
    <div class="box-item-content">
      <p>消息文字</p>
    </div>
  </div>
  <div class="box-item">
    <p class="box-title">最新消息2</p>
    <div class="box-item-content">
      <p>消息文字</p>
    </div>
  </div>
  <div class="box-item ">
    <p class="box-title">最新消息3</p>
    <div class="box-item-content">
      <p>消息文字</p>
    </div>
  </div>
  <div class="box-item">
    <p class="box-title">最新消息4</p>
    <div class="box-item-content">
      <p>消息文字</p>
    </div>
  </div>
</div>
