<div class="container">
  <div class="front-header front-wrap">
    <ul class="front-menu">
      <li class="front-menu_logo"><a [routerLink]="['/home']">
          <p>蘭園</p>
        </a></li>
    </ul>
  </div>

  <div class="front-bg">
    <img src="../assets/images/bg.jpg" alt="">
  </div>

  <div class="front-footer">
    <div>
      <a routerLink="/hotel/home">
        <p>進入網站</p>
        <p>home</p>
      </a>
    </div>
    <div>
      <a routerLink="/hotel/about">
        <p>關於蘭園</p>
        <p>about</p>
      </a>
    </div>
    <div>
      <a routerLink="/hotel/news">
        <p>最新消息</p>
        <p>news</p>
      </a>
    </div>
    <div>
      <a routerLink="/hotel/rooms">
        <p>房間資訊</p>
        <p>rooms</p>
      </a>
    </div>

  </div>
</div>
