<div class="header">
  <div class="header__body">
    <div class="header__title">
      <a routerLink="/hotel/home"><span>澎湖</span>蘭園民宿</a>
    </div>
  </div>
</div>

<div class="content">
  <div class="content__body content__body--img">
    <div class="content__text">
      <span>WELCOME TO</span>
      <div class="border-button"></div>
      <span>THE LAN YUAN B&B</span>
    </div>

  </div>

  <div class="content__footer">
    <div>
      <a routerLink="/hotel/home">
        <p>進入網站</p>
        <p>home</p>
      </a>
    </div>
    <div>
      <a routerLink="/hotel/about">
        <p>關於蘭園</p>
        <p>about</p>
      </a>
    </div>
    <div>
      <a routerLink="/hotel/specialty">
        <p>蘭園特產</p>
        <p>specialty</p>
      </a>
    </div>
    <div>
      <a routerLink="/hotel/rooms">
        <p>房間資訊</p>
        <p>rooms</p>
      </a>
    </div>
  </div>
</div>
